.site-logo li .logo {
    position: absolute;
    top: 7px;
    left: 15px;
    height: 15px;
    width: 179px;
}

.sidebar.sidebar-left .sidebar-content .main-menu {
    width: inherit;
    overflow-y: auto;
    padding-bottom: 65px;
    line-height: 36px;
}

@media (max-width: 991.98px){
#app .navbar-nav .logo_mobile ul li img{
	height: 34px !important;
	max-width: 100% !important;	
	display:block;
	}
}

