.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.iconDesign {
  width: 50px;
  background-color: #006600;
  height: 50px;
  border-radius: 50%;
  margin-right: 17px;
  padding: 7px;
  padding: 17px;
}
.iconDesign1 {
  width: 50px;
  background-color: #006600;
  height: 50px;
  border-radius: 50%;
  padding: 7px;
  padding: 17px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mainsection {
  margin-top: 64px;
}
.table td,
.table th {
  vertical-align: middle !important;
}
.cstm-form input[type="checbox"] {
  width: 3%;
}
.cstm-form label {
  font-weight: bold;
}
.cstm-form {
  background-color: white;
  box-sizing: border-box;
  padding: 20px 60px;
  border-radius: 4px;
}
.cstm-form input[type="time"] {
  padding: 5px 7px !important;
  width: 100% !important;
  border: 1px solid #0002 !important;
  border-radius: 3px !important;
  margin-bottom: 25px !important;
}
.cstm-form input[type="text"] {
  padding: 5px 7px !important;
  width: 100% !important;
  border: 1px solid #0002 !important;
  border-radius: 3px !important;
  margin-bottom: 25px !important;
}
.cstm-form label {
  text-align: left !important;
}
.sv-btn {
  color: white;
  background-color: #006600;
  padding: 6px 30px;
  border-radius: 3px;
  border: none;
}
.sv-btn1 {
  color: white;
  background-color: #006600;
  padding: 6px 30px;
  border-radius: 3px;
  border: none;
  margin-top: 20px !important;
  width: 25% !important;
  display: block;
  margin: 0 auto;
}
.cstm-form1 input {
  padding: 7px 7px !important;
  width: 100% !important;
  border: 1px solid #0002 !important;
  border-radius: 3px !important;
  margin-bottom: 30px !important;
}
.cstm-form1 {
  background-color: white;
  border-radius: 3px;
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.cstm-formList {
  background-color: white;
  border-radius: 3px;
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}
.sv-btn-event {
  color: white;
  background-color: #006600;
  padding: 6px 30px;
  border-radius: 3px;
  border: none;
  margin-top: 20px !important;
  width: 25% !important;
  display: block;
  margin: 0 auto;
}
li {
  cursor: pointer;
}
.cstm-form-event input {
  padding: 5px 7px !important;
  width: 100% !important;
  border: 1px solid #0002 !important;
  border-radius: 3px !important;
  margin-bottom: 25px !important;
}
.cstm-form-event {
  background-color: white;
  border-radius: 3px;
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
tr.noBorder td {
  border: 0;
  height: 30px;
}
tr.noBorder th {
  border: 0;
}
